<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <parameter name="URL" value="www.google.com"></parameter>
  <test thread-count="5" name="Test" parallel="classes">
    <classes>
      <class name="com.testng.starter.TestngTutorial">
      	<!-- <methods>
      		<include name="demo.*"/>
      	</methods> -->
      </class>	
    </classes>
    <!-- <packages>
    	<package name="com.testng.starter"></package>
    </packages>  -->
  </test> <!-- Test -->
</suite> <!-- Suite -->
